*{
	margin:0px;
	padding:0px
	}
ul,li,dl,dt,dd{
	list-style:none
	}
img{
	border:0px
	}
img,input{
	vertical-align:middle
}
body{
	font-size:12px;
	overflow:hidden;
	background-color:#FFFFFF;
	font-family:verdana,arial,sans-serif;
	}
a{
	color:#266dba;
	text-decoration:none;
	outline:none;
	hide-focus:expression(this.hideFocus=true);
	}
a:hover{
	color:#266dbb;
	text-decoration:none;
	outline:none;
	hide-focus:expression(this.hideFocus=true);
	}
.flleft{
	float:left;
	}
.tc{
	text-align:center;
	}
.header{
	display:block;
	width:100%;
	min-width:1040px;
	height:76px;
	overflow:hidden;
	background:#ffffff;
	}
.logo_title{
	margin:17px 0px 20px 24px;
	_display:inline;height:39px;
	line-height:39px;
	}
.logo{
	width:93px;
	height:39px;
	background:url(../img/sequence.gif) no-repeat left top;
	float:left;
	}
.title{
	font-size:27px;
	color:#181818;
	float:left;
	margin-left:18px;
	_display:inline;
	font-family:"黑体";
	}
.titleEN{
	font-size:25px;
	color:#181818;
	float:left;
	margin-left:18px;
	_display:inline;
	font-family::verdana,arial,sans-serif;
	}
.head_right{
	float:right;
	width:672px;
	height:76px;
	background:url(../img/head_right.jpg) no-repeat left top;
	position:relative;
	}
.head_right a{
	position:absolute;
	top:13px;
	right:16px;
	font-family:verdana,arial,sans-serif;
	color:#676767;
	}
.head_right a:hover{
	text-decoration:underline;
	color:#015da2;
	}
.bg_bar{
	background:url(../img/bg_bar.png) no-repeat left top;
	}	
.nav_bg{
	background-position:left top;
	background-repeat:repeat-x;
	border-top:1px #0050a3 solid;
	width:100%;	
	height:32px;
	margin-bottom:1px;
	}
.nav_ul{
	float:left;
	}	
.nav_ul li{
	float:left;
	font-size:14px;
	font-weight:bold;
	width:auto;
	min-width:100px;
	_width:100px;
	height:32px;
	line-height:32px;
	text-align:center;
	padding:0px 12px;
/*	filter:DropShadow(Color=#000000,OffX=1,OffY=1,Positive=true);
	text-shadow:1px 1px #000000;*/
	position:relative;	
	cursor:pointer;	
	white-space:nowrap;
	}	
.nav_ul li.li_hv{
	background:url(../img/bg_bar.png) repeat-x left -40px;
	}	
.nav_ul li.line{
	width:2px;
	background-position:left -80px;
	background-repeat:repeat-x;
	padding:0px;
	min-width:2px;
	cursor:default;
	}
.nav_ul li a{
	color:#ffffff;	
	}
.nav_ul li a:hover{
	color:#ffffff;	
	}		
.nav_drop{
	position:absolute;
	left:-2px;
	top:32px;
	border:1px #a8a8a8 solid;
	background:#fafafa;
	border-top:none;
	width:190px;
	height:auto;
	overflow:hidden;
	display:none;
	z-index:100;
	}
.nav_drop li{
	 display:block;
	 width:150px;
	 padding:8px 20px 8px 20px;
	 height:auto;
	 overflow:hidden;
	 line-height:16px;
	 text-align:left;
	 float:left;
	 _display:inline;
	 font-size:12px;
	 font-weight:normal;	 
	 cursor:pointer;
	 white-space:normal;
	}
.nav_drop li.li_hv{
	background:#d8f0fd;
	}
.nav_drop li.line1{
	height:1px;
	background:url(../img/li_bg.gif) no-repeat left top;
	padding:0px 0px 0px 39px;
	}
.nav_drop li a,.nav_drop li a:hover{
	color:#6f6f6f;
	}				
.tool_ul{
    float:right;
	margin-top:8px;
	_display:inline;
	}
.tool_ul li{
	display:block;
	width:88px;
	height:16px;
	line-height:18px;
	overflow:hidden;
	padding-left:21px;
	float:left;
	_display:inline;
	}
.tool_ul li.helptext{
	background:url(../img/sequence.gif) no-repeat -455px 0px;
	}
.tool_ul li.download{
	background:url(../img/sequence.gif) no-repeat -455px -16px;
	}
.tool_ul li a{
    color:#ffffff;
	text-decoration:none;
/*  filter:DropShadow(Color=#000000,OffX=1,OffY=1,Positive=true);
	text-shadow:1px 1px #000000;	*/
	}
.tool_ul li a:hover{
	color:#fedd01;	
	}			
.seq_contentl{
	display:block;
	width:246px;
	height:auto;
	overflow:hidden;
	background-color:#f8f8f8;
	border-right:1px #c8c8c8 solid;
	float:left;
	overflow-x:hidden;
	overflow-y:auto;
	}
.seq_ctl_top{
	background:url(../img/seq_ctl_topbg.gif) repeat-x left top;
	width:221px;
	height:23px;
	color:#000000;
	padding:10px 0px 0px 25px;
	font-size:13px;
	margin-bottom:1px;
	display:none;
	}
ul.seq_ul{
	padding:15px 20px 0px 27px;
	width:199px;
	height:auto;
	overflow:hidden;
	display:none;
	}
ul.seq_ul li ul{
	display:none;
	padding-top:5px;
	padding-left:25px;
	width:164px;
	height:auto;
	overflow:hidden;
	}
ul.seq_ul li ul li ul{
	display:none;
	}
ul.seq_ul li{
	float:left;
	padding-bottom:7px;	
	position:relative;
	}
ul.seq_ul li span{
	position:absolute;
	left:0px;
	top:0px;	
	float:left;
	width:18px;
	height:14px;
	background:url(../img/plus.gif) no-repeat left 5px;
	background:url(../img/plus.gif) no-repeat left 4px\9;	
	*background:url(../img/plus.gif) no-repeat left 4px;
	cursor:pointer;
    }
ul.seq_ul li span.click{
	background:url(../img/minus.gif) no-repeat left 5px;
	}		
ul.seq_ul li a,ul.seq_ul li ul li a,ul.seq_ul li ul li ul li a{	
	display:block;
	width:171px;
	height:auto;
	line-height:18px;
	padding-left:18px;
	color:#5c5c5c;
	float:left;
	_display:inline;
	overflow:hidden;
	}
ul.seq_ul li ul li a{
	background:none;
	width:146px;	
	}
ul.seq_ul li ul li ul li a{
	width:122px;	
	}
ul.seq_ul li a:hover,ul.seq_ul li ul li a:hover{
	color:#266dbb
	}
.seq_contentc{
	width:10px;
	height:47px;
	background:url(../img/sequence.gif) no-repeat -336px -47px;
	float:left;
	cursor:pointer;
	}
.seq_contentc1{
	background:url(../img/sequence.gif) no-repeat -346px -47px;
	}
.seq_top{
	width:57px;
	height:10px;
	background:url(../img/sequence.gif) no-repeat left -41px;
	float:right;
	cursor:pointer;
	margin:0px 1px 22px 0px;
	overflow:hidden;
	}
.seq_top1{
	background:url(../img/sequence.gif) no-repeat left -51px;
	}	
.seq_foot{
	width:100%;
	height:33px;
	background:url(../img/seq_foot_bg.gif) repeat-x left top;
	clear:left;
	overflow:hidden;
	}
.foot_logo{
	width:60px;
	height:33px;
	background:url(../img/sequence.gif) no-repeat -93px top;
	float:left;
	margin-right:3px;
	_display:inline;
	}
.seq_footl{
	float:left;
	color:#242424;
	height:33px;
	line-height:34px;
	padding-left:21px;
	_display:inline;
	overflow:hidden;
	}
.seq_footr{
	float:right;
	color:#828383;
	height:33px;
	line-height:34px;
	padding-right:25px;
	_display:inline;
	overflow:hidden;
	}
.foot_text{
	margin-right:16px;
	}
.seq_cn{
	float:left;
	}
.seq_cn1{
	padding:15px 36px 35px;
	line-height:20px;
	}	
.seq_cnt{
	font-size:12px;
	height:30px;
	line-height:30px;
	border-bottom:1px #b1b1b1 solid;
	color:#676767;
	margin-bottom:15px;
	}
.form_tt{
	font-size:14px;
	margin:33px 0px 11px 299px
	}
.seq_cn1 table{
	background-color:#e4e9eb;
	margin-bottom:12px;
	border-collapse:collapse;
	border:1px #e4e9eb solid;
	width:100%;
	clear:both;
	margin-left:0px;
	margin-right:2px;
    font-family:verdana,arial,sans-serif;
	text-align:justify;
    table-layout:fixed;
	}

.seq_cn1 table tr td{
	width:auto;
	overflow:hidden;
	height:22px;
	line-height:22px;
	padding:0px 16px;
	text-align:center;
	border:1px #e4e9eb solid;
	background-color:#ffffff;
	word-break: break-all;
	word-wrap:break-word;
	overflow:hidden;	
	text-align:center; 	
	font-family:verdana,arial,sans-serif;
	}
.seq_cn1 table tr th{
	background-color:#609ce0;
	font-family: verdana,arial,sans-serif;
	color:#ffffff;
	height:22px;
	line-height:22px;
	border:1px #e4e9eb solid;
	word-break: break-all;
	word-wrap:break-word;
	overflow:hidden;	
	text-align:center; 	
	}
.seq_calu{
	color:#6e6e6e;
	margin-left:113px
	}
.cl1{
	color:#000000;
	}
.cl2{
	color:#0764c2;
	}
.cl3{
	color:#818181;
	}	
.fs14{
	font-size:14px;
	}
.pl5{
	padding-left:5px;
	}
.tc{
	text-align:center;
	}
.seq_mg{
	margin:35px 0px 13px;
	}
.big_pic{
	text-align:center;
	}
.cnt_style{
	line-height:18px;
	margin-top:9px;
	text-indent:2em;
	}
.top_btn{
	position:fixed;
	right:15px;
	bottom:25px;
	width:18px;
	height:68px;
	background:url(../img/sequence.gif) no-repeat -157px -32px;
	cursor:pointer;
	}		
.top_btn_hv{
	background:url(../img/sequence.gif) no-repeat -176px -32px;
	}
* html .top_btn{
	position:absolute;
	left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-15);
	top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-25);
	}
.top_btn1{
	position:fixed;
	right:15px;
	bottom:25px;
	width:18px;
	height:68px;
	background:url(../img/sequence.gif) no-repeat -195px -32px;
	cursor:pointer;
	}		
.top_btn1_hv{
	background:url(../img/sequence.gif) no-repeat -214px -32px;
	}
* html .top_btn1{
	position:absolute;
	left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-15);
	top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-25);
	}	
.seq_cn1 h5{
  clear:both; 
  margin:10px 0 10px 0; 
  padding:4px 20px 3px 0px; 
  font-family:"trebuchet ms",arial,sans-serif; 
  color:rgb(50,50,50); 
  font-weight:bold; 
  font-size:110%;
  font-style:oblique;
	}


	
.seq_cn1 h6 {
  clear:both; 
  margin:1px 0 1px 0; 
  padding:0px 5px 1px 0px; 
  font-family:"trebuchet ms",arial,sans-serif; 
  color:rgb(0,0,225);  
  font-size:100%;
	}

.h0{
	 font-size:18px;
	 color:#0764C2;
	 font-weight:bold;
	 top:50px;

    }
.seq_cn1 h1{
	 font-size:14px;
	 color:#0764C2;
	}
.seq_cn1 h2{
	 font-size:13px;
	 color:#0764C2;
	}
.seq_cn1 h3{
	 font-size:12px;
	 color:#0764C2;
	}	
.seq_cn1 h4{
	 font-size:12px;
	 font-weight:normal;
	 color:#0764C2;
	}			
.seq_cn1 p{
    line-height: 18px;
    margin: 7px 0px;
    text-indent: 2em;	
	}

.clear-contentunit {clear:both; margin-left:5px; width:inherit;height:0.5em; border:none; background:rgb(210,210,210); color:rgb(210,210,210);margin-top:10px;margin-bottom:10px;}
.clear-contentunit-thin {clear:both; margin-left:5px; width:inherit;height:0.05em; border:none; background:rgb(210,210,210); color:rgb(210,210,210);margin-top:10px;margin-bottom:10px;}

ol.float {
width:880px;
}

ol.float li {
list-style:none ;
float:right;
width:430px;
padding-right:10px
}

.break {page-break-before: always;}